/* Estilos generales */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-image: url('img1.jfif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.login-container, .welcome-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(16, 194, 248, 0.9); /* Fondo semi-transparente */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Ajuste de sombra */
    border-radius: 12px; /* Borde más redondeado */
    text-align: center;
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
}

h2 {
    color: #444;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #555;
}

input[type="text"], input[type="password"] {
    width: 90%;
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 1rem;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #007BFF; /* Efecto de enfoque */
    outline: none;
}

button {
    background-color: #007BFF; /* Color primario azul */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

.alert {
    color: #ff0000;
    font-weight: bold;
    margin-bottom: 15px;
}

@media (max-width: 480px) {
    .login-container, .welcome-container {
        margin: 50px auto;
        padding: 15px;
    }
}